<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h2>Translation</h2>
    <div>
    <img src="{{ url_for('video') }}" class="img-fluid mx-auto d-block" alt="Sign Language Translator">
</body>
</html>


















<!-- <!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>

    <div class="col-sm-4 py-3" style="width:18rem;">
        <div class="card box-shadow">
            <div class="card-body">
                <h5 class="card-title">Sign Language Translator</h5>
                <p class="card-text">
                    Click.
                </p>
                <a href="/sign_lang" class="btn btn-dark btn-md">Access the website</a>
            </div>
        </div>
    </div>
</body>
</html> -->